player-connection-mode=Listen
player-connection-guid=3178607917
player-connection-debug=0
player-connection-project-name=JoeysCarnival
player-connection-ip=10.148.105.221
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=74c10aa603404c24b08ee1b2be9c2bcf
