player-connection-mode=Listen
player-connection-guid=723898410
player-connection-debug=0
player-connection-project-name=JoeysCarnival
player-connection-ip=192.168.1.205
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=54b81d07c6174036bb0e751e4a2f721f
